<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= player.name %> - Player Details</title>
</head>
<body>
  <h1><%= player.name %> - Player Details</h1>
  <p>ID: <%= player.idNo %></p>
  <p>Name: <%= player.name %></p>
  <p>Place: <%= player.place %></p>
  <p>Image: <%= player.image %></p>
  <a href="/">Back to Home</a>
  <a href="/player/details/next/<%= player._id %>">Next Player</a>
</body>
</html>
